--
-- PostgreSQL database dump
--

\restrict agigsVK6d2cu7n5fL5gwBwU8pt4uVlrOswRCUyJCkjnE6Hzb3H5nZu3W3dxOyrP

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "users_areaId_fkey";
ALTER TABLE IF EXISTS ONLY public.saved_addresses DROP CONSTRAINT IF EXISTS "saved_addresses_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.saved_addresses DROP CONSTRAINT IF EXISTS "saved_addresses_areaId_fkey";
ALTER TABLE IF EXISTS ONLY public.reviews DROP CONSTRAINT IF EXISTS "reviews_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "products_businessId_fkey";
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS "payments_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS "orders_driverId_fkey";
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS "orders_customerId_fkey";
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS "orders_businessId_fkey";
ALTER TABLE IF EXISTS ONLY public.order_status_history DROP CONSTRAINT IF EXISTS "order_status_history_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS "order_items_productId_fkey";
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS "order_items_orderId_fkey";
ALTER TABLE IF EXISTS ONLY public.drivers DROP CONSTRAINT IF EXISTS "drivers_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.drivers DROP CONSTRAINT IF EXISTS "drivers_areaId_fkey";
ALTER TABLE IF EXISTS ONLY public.device_tokens DROP CONSTRAINT IF EXISTS "device_tokens_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.businesses DROP CONSTRAINT IF EXISTS "businesses_ownerId_fkey";
ALTER TABLE IF EXISTS ONLY public.businesses DROP CONSTRAINT IF EXISTS "businesses_areaId_fkey";
ALTER TABLE IF EXISTS ONLY public."_BusinessTags" DROP CONSTRAINT IF EXISTS "_BusinessTags_B_fkey";
ALTER TABLE IF EXISTS ONLY public."_BusinessTags" DROP CONSTRAINT IF EXISTS "_BusinessTags_A_fkey";
ALTER TABLE IF EXISTS ONLY public."_BusinessDeliveryAreas" DROP CONSTRAINT IF EXISTS "_BusinessDeliveryAreas_B_fkey";
ALTER TABLE IF EXISTS ONLY public."_BusinessDeliveryAreas" DROP CONSTRAINT IF EXISTS "_BusinessDeliveryAreas_A_fkey";
DROP INDEX IF EXISTS public.users_phone_key;
DROP INDEX IF EXISTS public.users_email_key;
DROP INDEX IF EXISTS public.tags_name_type_key;
DROP INDEX IF EXISTS public."reviews_orderId_key";
DROP INDEX IF EXISTS public.payments_reference_key;
DROP INDEX IF EXISTS public."payments_orderId_key";
DROP INDEX IF EXISTS public."drivers_userId_key";
DROP INDEX IF EXISTS public."device_tokens_userId_idx";
DROP INDEX IF EXISTS public.device_tokens_token_key;
DROP INDEX IF EXISTS public."businesses_ownerId_key";
DROP INDEX IF EXISTS public."_BusinessTags_B_index";
DROP INDEX IF EXISTS public."_BusinessTags_AB_unique";
DROP INDEX IF EXISTS public."_BusinessDeliveryAreas_B_index";
DROP INDEX IF EXISTS public."_BusinessDeliveryAreas_AB_unique";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.tags DROP CONSTRAINT IF EXISTS tags_pkey;
ALTER TABLE IF EXISTS ONLY public.system_settings DROP CONSTRAINT IF EXISTS system_settings_pkey;
ALTER TABLE IF EXISTS ONLY public.saved_addresses DROP CONSTRAINT IF EXISTS saved_addresses_pkey;
ALTER TABLE IF EXISTS ONLY public.reviews DROP CONSTRAINT IF EXISTS reviews_pkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_pkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS orders_pkey;
ALTER TABLE IF EXISTS ONLY public.order_status_history DROP CONSTRAINT IF EXISTS order_status_history_pkey;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS order_items_pkey;
ALTER TABLE IF EXISTS ONLY public.drivers DROP CONSTRAINT IF EXISTS drivers_pkey;
ALTER TABLE IF EXISTS ONLY public.device_tokens DROP CONSTRAINT IF EXISTS device_tokens_pkey;
ALTER TABLE IF EXISTS ONLY public.businesses DROP CONSTRAINT IF EXISTS businesses_pkey;
ALTER TABLE IF EXISTS ONLY public.banners DROP CONSTRAINT IF EXISTS banners_pkey;
ALTER TABLE IF EXISTS ONLY public.areas DROP CONSTRAINT IF EXISTS areas_pkey;
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.tags;
DROP TABLE IF EXISTS public.system_settings;
DROP TABLE IF EXISTS public.saved_addresses;
DROP TABLE IF EXISTS public.reviews;
DROP TABLE IF EXISTS public.products;
DROP TABLE IF EXISTS public.payments;
DROP TABLE IF EXISTS public.orders;
DROP TABLE IF EXISTS public.order_status_history;
DROP TABLE IF EXISTS public.order_items;
DROP TABLE IF EXISTS public.drivers;
DROP TABLE IF EXISTS public.device_tokens;
DROP TABLE IF EXISTS public.businesses;
DROP TABLE IF EXISTS public.banners;
DROP TABLE IF EXISTS public.areas;
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TABLE IF EXISTS public."_BusinessTags";
DROP TABLE IF EXISTS public."_BusinessDeliveryAreas";
DROP TYPE IF EXISTS public."UserStatus";
DROP TYPE IF EXISTS public."UserRole";
DROP TYPE IF EXISTS public."PaymentStatus";
DROP TYPE IF EXISTS public."PaymentMethod";
DROP TYPE IF EXISTS public."OrderStatus";
DROP TYPE IF EXISTS public."DriverStatus";
DROP TYPE IF EXISTS public."DeliveryType";
DROP TYPE IF EXISTS public."BusinessType";
--
-- Name: BusinessType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BusinessType" AS ENUM (
    'FOOD',
    'STORE'
);


ALTER TYPE public."BusinessType" OWNER TO postgres;

--
-- Name: DeliveryType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DeliveryType" AS ENUM (
    'PLATFORM',
    'SELF'
);


ALTER TYPE public."DeliveryType" OWNER TO postgres;

--
-- Name: DriverStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."DriverStatus" AS ENUM (
    'AVAILABLE',
    'BUSY',
    'OFFLINE'
);


ALTER TYPE public."DriverStatus" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'PREPARING',
    'READY',
    'PICKED_UP',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'ELECTRONIC'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'CUSTOMER',
    'BUSINESS',
    'DRIVER',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'SUSPENDED',
    'BANNED',
    'PENDING'
);


ALTER TYPE public."UserStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _BusinessDeliveryAreas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_BusinessDeliveryAreas" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_BusinessDeliveryAreas" OWNER TO postgres;

--
-- Name: _BusinessTags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_BusinessTags" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_BusinessTags" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: areas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.areas (
    id text NOT NULL,
    city text NOT NULL,
    name text NOT NULL,
    "deliveryFee" numeric(10,2) NOT NULL
);


ALTER TABLE public.areas OWNER TO postgres;

--
-- Name: banners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.banners (
    id text NOT NULL,
    "imageUrl" text NOT NULL,
    "linkUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.banners OWNER TO postgres;

--
-- Name: businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.businesses (
    id text NOT NULL,
    "ownerId" text NOT NULL,
    name text NOT NULL,
    "areaId" text NOT NULL,
    "deliveryType" public."DeliveryType" DEFAULT 'PLATFORM'::public."DeliveryType" NOT NULL,
    "imageUrl" text,
    rating double precision DEFAULT 0 NOT NULL,
    "isOpen" boolean DEFAULT true NOT NULL,
    "commissionRate" numeric(5,2) DEFAULT 10.00 NOT NULL,
    phone text,
    "addressDetail" text,
    "closeTime" text,
    lat double precision,
    lng double precision,
    "logoUrl" text,
    "openTime" text,
    type public."BusinessType" DEFAULT 'FOOD'::public."BusinessType" NOT NULL
);


ALTER TABLE public.businesses OWNER TO postgres;

--
-- Name: device_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    token text NOT NULL,
    platform text,
    app text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.device_tokens OWNER TO postgres;

--
-- Name: drivers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drivers (
    id text NOT NULL,
    "userId" text NOT NULL,
    status public."DriverStatus" DEFAULT 'OFFLINE'::public."DriverStatus" NOT NULL,
    "areaId" text NOT NULL,
    rating double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public.drivers OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer NOT NULL,
    "unitPrice" numeric(10,2) NOT NULL
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_status_history (
    id text NOT NULL,
    "orderId" text NOT NULL,
    status public."OrderStatus" NOT NULL,
    "changedBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.order_status_history OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "businessId" text NOT NULL,
    "driverId" text,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "paymentMethod" public."PaymentMethod" NOT NULL,
    total numeric(10,2) NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "pendingDriverId" text,
    "deliveryAreaName" text,
    "deliveryAddressDetail" text
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id text NOT NULL,
    "orderId" text NOT NULL,
    method public."PaymentMethod" NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    amount numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    provider text,
    reference text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    "imageUrl" text,
    "isAvailable" boolean DEFAULT true NOT NULL,
    category text
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "businessRating" integer NOT NULL,
    "driverRating" integer,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: saved_addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_addresses (
    id text NOT NULL,
    "userId" text NOT NULL,
    label text NOT NULL,
    detail text NOT NULL,
    "areaId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.saved_addresses OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    id text DEFAULT 'default'::text NOT NULL,
    "defaultCommission" numeric(5,2) DEFAULT 10.00 NOT NULL,
    "baseDeliveryFee" numeric(10,2) DEFAULT 3.00 NOT NULL,
    "customerAppActive" boolean DEFAULT true NOT NULL,
    "businessAppActive" boolean DEFAULT true NOT NULL,
    "driverAppActive" boolean DEFAULT true NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tags (
    id text NOT NULL,
    name text NOT NULL,
    type public."BusinessType" NOT NULL,
    "imageUrl" text
);


ALTER TABLE public.tags OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    role public."UserRole" NOT NULL,
    name text NOT NULL,
    phone text NOT NULL,
    email text,
    password text,
    "areaId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "imageUrl" text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _BusinessDeliveryAreas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _BusinessTags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: areas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: banners; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.banners (id, "imageUrl", "linkUrl", "isActive", "createdAt") FROM stdin;
6c1d69f4-af3a-4c42-a9cd-cb96919bd600	/uploads/1780419264808-408397721.png	\N	t	2026-06-02 16:54:25.22
b7cea091-5e85-41a2-b066-9ea96934b11a	/uploads/1780419273128-339531466.png	\N	t	2026-06-02 16:54:33.536
\.


--
-- Data for Name: businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: device_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.drivers (id, "userId", status, "areaId", rating) FROM stdin;
54b7a05f-d55b-4659-9e1a-4a9cb7f84de9	9b1ca49f-330e-46a9-8196-8d883e026750	AVAILABLE	85462ddc-adca-4c35-9259-5d4456167450	4.7
d9702014-b525-4631-b045-aef8cfc549dd	cc7fd9d4-abc6-4de8-8b5d-2b7e491b1dd7	AVAILABLE	fea88b50-257f-42cc-84d5-c07d94468cff	4.9
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reviews (id, "orderId", "businessRating", "driverRating", comment, "createdAt") FROM stdin;
\.


--
-- Data for Name: saved_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (id, "defaultCommission", "baseDeliveryFee", "customerAppActive", "businessAppActive", "driverAppActive", "updatedAt") FROM stdin;
default	10.00	3.00	t	t	t	2026-05-31 18:53:15.78
\.


--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: areas areas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_pkey PRIMARY KEY (id);


--
-- Name: banners banners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT banners_pkey PRIMARY KEY (id);


--
-- Name: businesses businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_pkey PRIMARY KEY (id);


--
-- Name: device_tokens device_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_tokens
    ADD CONSTRAINT device_tokens_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: saved_addresses saved_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_addresses
    ADD CONSTRAINT saved_addresses_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: _BusinessDeliveryAreas_AB_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "_BusinessDeliveryAreas_AB_unique" ON public."_BusinessDeliveryAreas" USING btree ("A", "B");


--
-- Name: _BusinessDeliveryAreas_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_BusinessDeliveryAreas_B_index" ON public."_BusinessDeliveryAreas" USING btree ("B");


--
-- Name: _BusinessTags_AB_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "_BusinessTags_AB_unique" ON public."_BusinessTags" USING btree ("A", "B");


--
-- Name: _BusinessTags_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_BusinessTags_B_index" ON public."_BusinessTags" USING btree ("B");


--
-- Name: businesses_ownerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "businesses_ownerId_key" ON public.businesses USING btree ("ownerId");


--
-- Name: device_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX device_tokens_token_key ON public.device_tokens USING btree (token);


--
-- Name: device_tokens_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "device_tokens_userId_idx" ON public.device_tokens USING btree ("userId");


--
-- Name: drivers_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "drivers_userId_key" ON public.drivers USING btree ("userId");


--
-- Name: payments_orderId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "payments_orderId_key" ON public.payments USING btree ("orderId");


--
-- Name: payments_reference_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX payments_reference_key ON public.payments USING btree (reference);


--
-- Name: reviews_orderId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "reviews_orderId_key" ON public.reviews USING btree ("orderId");


--
-- Name: tags_name_type_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tags_name_type_key ON public.tags USING btree (name, type);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_phone_key ON public.users USING btree (phone);


--
-- Name: _BusinessDeliveryAreas _BusinessDeliveryAreas_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_BusinessDeliveryAreas"
    ADD CONSTRAINT "_BusinessDeliveryAreas_A_fkey" FOREIGN KEY ("A") REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _BusinessDeliveryAreas _BusinessDeliveryAreas_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_BusinessDeliveryAreas"
    ADD CONSTRAINT "_BusinessDeliveryAreas_B_fkey" FOREIGN KEY ("B") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _BusinessTags _BusinessTags_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_BusinessTags"
    ADD CONSTRAINT "_BusinessTags_A_fkey" FOREIGN KEY ("A") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _BusinessTags _BusinessTags_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_BusinessTags"
    ADD CONSTRAINT "_BusinessTags_B_fkey" FOREIGN KEY ("B") REFERENCES public.tags(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: businesses businesses_areaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT "businesses_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: businesses businesses_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT "businesses_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: device_tokens device_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_tokens
    ADD CONSTRAINT "device_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: drivers drivers_areaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT "drivers_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: drivers drivers_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT "drivers_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_status_history order_status_history_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT "order_status_history_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_driverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES public.drivers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "payments_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.businesses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: reviews reviews_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: saved_addresses saved_addresses_areaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_addresses
    ADD CONSTRAINT "saved_addresses_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: saved_addresses saved_addresses_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_addresses
    ADD CONSTRAINT "saved_addresses_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_areaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict agigsVK6d2cu7n5fL5gwBwU8pt4uVlrOswRCUyJCkjnE6Hzb3H5nZu3W3dxOyrP

